{% extends "layouts/base.html" %}

{% block title %} Page Blank {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                              <div class="col-sm-6 offset-sm-3">
                                  <h3>Change Password</h3>
                               <form action="" method="post" novalidate>
                                   {% csrf_token %}
                                <div class="card p-5">
                                    {% for fm in form %}
                                    <div class="form-group">
                                    {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small><br>
                                    </div>
                                    {% endfor %}
                                </div>
                                <input type="submit" class="btn btn-outline-success btn-glow-success" value="Update">
                                  {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                <p class="alert alert-danger my-3">{{error}}</p>
                                {% endfor %}
                                {% endif %}
                               </form>
                              </div>
                             </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
