{% extends "layouts/base.html" %} {% block title %} Pending request {% endblock %}
{% block stylesheets %}

{% endblock stylesheets %}
{% block content %}
<div class="pcoded-main-container">
  <div class="container">
    <div class="">
      <div class="col-auto">
        {% if messages %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {% for message in messages %}
                <strong> {{message}}</strong>
            {% endfor %}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
        <div class="mt-2 card Recent-Users">
            <div class="card-header">
                <h5>Pending Request</h5>
            </div>
            <div class="card-block px-0 py-3">
                <div class="table-responsive">
                     <table id="deviceTable" class="table table-hover">
                        <tbody>
                        {% for f in unapproved_requests %}
                        <tr class="unread">
                            <td>
                              <h6 class="mb-1">{{f.name}}</h6>
                              <p class="m-0">{{f.employee_id}}</p>
                              <p class="m-0">{{f.employee_email}}</p>
                            </td>
                            <td>
                              <h6 class="mb-1">Requested By</h6>
                              <p class="m-0">{{f.request_by}}</p>
                              <p class="text-muted m-0"><i
                                class="fas fa-circle text-c-yellow f-10 m-r-5">
                              </i>{{f.request_date}}</p>
                            </td>
                            <td>
                              <h6 class="mb-1">Requested Device</h6>
                              <p class="m-0">{{f.isp}}</p>
                            </td>
                            <td>
                              <h6 class="mb-1">Ticket ID</h6>
                              <p class="m-0">#{{f.ticket_id}}</p>
                            </td>
                            <td>
                              <!--<a href="#!" class="label theme-bg2 text-white f-12">Reject</a> -->
                              <input type="hidden" value={{f.employee_id}} name="employee_id" id="employee_id">
                              <a class="label theme-bg text-white f-12 active-blue" data-bs-toggle="modal" data-bs-target="#deviceModal" data-id="{{f.id}}">Approve</a>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                     </table>
                </div>
            </div>
        </div>
      </div>
    </div>
  </div>

  <script>
$(document).ready(function() {
  $('#deviceTable').on('click', 'a', function() {
    var id = $(this).data('id');
    var employee_id = $('#employee_id').val();
    console.log(id);
    console.log(employee_id);
    $.ajax({
      url: '/get_request_data/' + id,
      type: 'GET',
      dataType: 'json',
      success: function(data) {
        var datetime = new Date(data.request_date);
        var options = { 
          month: 'long', 
          day: 'numeric', 
          year: 'numeric', 
          hour: 'numeric', 
          minute: 'numeric',
          hour12: true
        };
        var formattedDatetime = datetime.toLocaleString('en-US', options);
        // clear the contents of the relevant elements before appending new data
        $('#ticket_id').empty().append('#' + data.ticket_id);
        $('#name').empty().append(data.name);
        $('#request_by').empty().append(data.request_by);
        $('#employee_idd').empty().append(data.employee_idd);
        $('#request_date').empty().append(formattedDatetime);
        $('#device_type').empty().append(data.device_type);
        $('#name_id').empty().val(data.id).append(data.id);
        $('#location').empty().val(data.location);
        $('#type').empty().val(data.type);
        $('#isp').empty().val(data.isp);
        $('#data_limit').empty().val(data.data_limit);
        $('#manufacturer').empty().val(data.manufacturer);
        $('#device_model').empty().val(data.device_model);
        $('#imei').empty().val(data.imei);
        $('#msisdn').empty().val(data.msisdn);
        $('#sim_card').empty().val(data.sim_card);
        $('#device_status').empty().val(data.device_status);
        $('#punched_by').empty().val(data.punched_by);
        $('#instock_date').empty().val(data.instock_date);
        $('#remarks').empty().val(data.remarks);
        // set the value of the id input field
        $('#id').val(id);
        $('#ticket').val(data.ticket_id);
        $('#deviceModal').modal('show');
      },
      error: function() {
        console.log('Error: Failed to fetch device data.');
      }
    });
  });
});

</script>

  {% block javascripts %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

  {% endblock javascripts %}

  <div class="modal fade" id="deviceModal" tabindex="-1" aria-labelledby="deviceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deviceModalLabel"> Details</h5>
        </div>
       <form action="{% url 'approve_request' %}" method="POST" >
               {% csrf_token %}
               <input type="hidden" name="ticket" id="ticket" value="">
        <div class="modal-body">
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <label for="name">Name</label>
                <h6 class="mb-1" id="name" name="name"></h6>
              </div>
              <div class="form-group">
                <label for="request_by">Requested by</label>
                <h6 class="mb-1" id="request_by" name="request_by"></h6>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="employee_id">Employee ID</label>
               <!-- <input type="text" class="form-control" id="employee_idd" name="employee_id">  -->
                <h6 class="mb-1" id="employee_idd" name="employee_idd"></h6>
              </div>
              <div class="form-group">
                <label for="request_date">Request Date</label>
                <!-- <input type="text" class="form-control" id="request_date" name="request_date"> -->
                <h6 class="mb-1"  id="request_date" name="request_dates"></h6>
              </div>
            </div>
            <div class="col-4">
              <div class="form-group">
                <label for="device_type">Requested Device</label>
                <h6 class="mb-1"  id="device_type" name="device_type"></h6>
              </div>
              <div class="form-group">
                <label for="ticket_id">Ticket ID</label>
                <h6 class="mb-1"  id="ticket_id" name="ticket_id"></h6>
                <input type="hidden" class="form-control mt-2" id="name_id" name="name_id">
              </div>
            </div>
          </div>
          <hr>
          <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="imei">Device IMEI</label>
              <input type="text" class="form-control" id="imei" name="imei" placeholder="Please enter device IMEI Number..." required>
            </div>
            <div class="form-group">
              <label for="sim_num">Sim Number</label>
              <input type="text" class="form-control" id="sim_num" name="sim_num" placeholder="Please enter Sim Number..." required>
            </div>
          </div>
          </div>
        <div>
        <label for="remarks">Remarks:</label>
        <textarea class="form-control"  rows="3" cols="5" maxlength="300" id="remarks" name="remarks"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-danger btn-glow-danger" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-outline-success btn-glow-success" id="updateBtn">Assign device</button>
        </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock content %}









  {% comment %} $('#updateBtn').click(function() {
    var id = $('#idd').val(); // add this line
    $.ajax({
        url: '/update_device_data/' + id,
        type: 'POST',
        data: {
            location: $('#location').val(),
            type: $('#type').val(),
            isp: $('#isp').val(),
            data_limit: $('#data_limit').val(),
            manufacturer: $('#manufacturer').val(),
            device_model: $('#device_model').val(),
            imei: $('#imei').val(),
            msisdn: $('#msisdn').val(),
            sim_card: $('#sim_card').val(),
            device_status: $('#device_status').val(),
            punched_by: $('#punched_by').val(),
            remarks: $('#remarks').val(),
            instock_date: $('#instock_date').val(),
        },
        success: function(response) {
            console.log('Device data updated successfully.');
            $('#deviceModal').modal('hide');
        },
        error: function() {
            console.log('Error: Failed to update device data.');
        }
    });
});
 {% endcomment %}













{% comment %}   
</div>
     $('.approve-btn').click(function() {
        var request_id = $(this).data('id');
        var id = $('#id').val();
        console.log(id)
        $.ajax({
          url: '/approve_request/',
          type: 'POST',
          data: {'request_id': request_id},
          success: function(response) {
            console.log('Request approved successfully!');
            location.reload();  // Reload the page to show the updated requests
          },
          error: function(xhr) {
            console.log('Error approving request');
          }
        });
      });
      
      $('.reject-btn').click(function() {
        var request_id = $(this).data('id');
        $.ajax({
          url: '/reject_request/',
          type: 'POST',
          data: {'request_id': request_id},
          success: function(response) {
            console.log('Request rejected successfully!');
            location.reload();  // Reload the page to show the updated requests
          },
          error: function(xhr) {
            console.log('Error rejecting request');
          }
        });
      }); {% endcomment %}