{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<script src="https://code.highcharts.com/highcharts.js"></script>
    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ Recent Users ] start-->
                                <div class="col-xl-8 col-md-12 m-b-30">
                                    <div class=" row">
                                        <div class="col-6">
                                            <div class="card ">
                                                <div class="card-block ">
                                                    <div id="chart-container" style="height:300px"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="card">
                                                <div class="card-block">
                                                    <div id="chart-container2" style="height:300px"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade active show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                            <div id="chart-container3" style="height:300px"></div>
                                        </div>
                                    </div>
                                </div>

                                <!--[ Recent Users ] end-->

                                <!-- [ statistics year chart ] start -->
                                <div class="col-xl-4 col-md-6">
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">Approved Request</h5>
                                                </div>
                                            </div>
                                            <i class=" -30 text-c-red">
                                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 121.86" width="40px" height="40px"></svg>
                                                <svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 122.88 121.86" width="40px" height="40px"><defs><style>.cls-1{fill:#10a64a;}.cls-1,.cls-2,.cls-3,.cls-4{fill-rule:evenodd;}.cls-2{fill:#0bb34b;}.cls-3{fill:#fff;}.cls-4{fill:#303030;}</style>
                                                </defs><title>approve</title><path class="cls-1" d="M61.44,0a14.05,14.05,0,0,1,8.45,2.65c3.3,2.1,7,6.23,11.61,8.86C88,
                                                15.21,99.9,10.12,106,19.21c3.57,5.31,3.73,9.46,4,13.57.29,4.43,1.07,8.51,5.6,14.51,7.51,9.93,9.07,16.54,5.2,23.43-2.63,
                                                4.69-8.19,7.3-9.47,10.28-2.74,6.33.29,11.1-3.46,18.47a19.66,19.66,0,0,1-12,10.21c-4.5,1.46-9-.64-12.63.87-6.34,2.67-11,
                                                8.86-16.06,10.42a19.47,19.47,0,0,1-11.64,0c-5-1.56-9.72-7.75-16.06-10.42-3.61-1.51-8.13.59-12.63-.87A19.66,19.66,
                                                0,0,1,15,99.47C11.23,92.1,14.26,87.33,11.52,81,10.24,78,4.68,75.41,2,70.72c-3.87-6.89-2.3-13.5,5.21-23.43,4.53-6,5.31-10.08,
                                                5.6-14.51.26-4.11.43-8.26,4-13.57,6.13-9.09,18.08-4,24.53-7.69C46,8.89,49.69,4.76,53,2.66A14.05,14.05,0,0,1,61.44,0Z"/>
                                                <path class="cls-2" d="M111,38.83a27,27,0,0,0,4.59,8.46c7.51,9.93,9.07,16.54,5.2,23.43-2.63,4.69-8.19,7.3-9.47,10.28-2.74,
                                                6.33.29,11.1-3.46,18.47a19.68,19.68,0,0,1-12,10.21c-4.5,1.45-9-.64-12.63.87-6.34,2.67-11,8.85-16.06,10.42a19.47,19.47,0,0,1-11.64,
                                                0c-5-1.57-9.72-7.75-16.06-10.42-3.61-1.51-8.13.58-12.63-.87A19.66,19.66,0,0,1,15,99.47a18.15,18.15,0,0,1-2-6.91l98-53.73Z"/>
                                                <path class="cls-3" d="M61.26,25.5A36.37,36.37,0,1,1,24.89,61.87,36.37,36.37,0,0,1,61.26,25.5Z"/>
                                                <path class="cls-4" d="M51.41,54.61l7.12,6.71L72.81,46.8c1.41-1.43,2.3-2.58,4-.79l5.67,5.79c1.85,1.84,1.75,2.91,0,4.63L61.75,
                                                76.83c-3.69,3.62-3,3.85-6.8.12L41.88,64A1.65,1.65,0,0,1,42,61.41L48.6,54.6c1-1,1.79-1,2.81,0Z"/></svg></i>
                                            <h2 class="mt-3 f-w-300">{{request_approved}}</h2>
                                        </div>
                                    </div>
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">Pending Request 
                                                </h5>
                                                </div>
                                            </div>
                                            <i class=" -30 text-c-red">
                                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" 
                                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 122.88 122.88" 
                                                style="enable-background:new 0 0 122.88 122.88; width: 40px; height: 40px;" xml:space="preserve">
                                             <style type="text/css">
                                               <![CDATA[
                                                 .st0{fill-rule:evenodd;clip-rule:evenodd;fill:#FF7900;}
                                               ]]>
                                             </style>
                                             <g>
                                               <path class="st0" d="M61.44,0c33.93,0,61.44,27.51,61.44,61.44c0,33.93-27.51,61.44-61.44,61.44C27.51,
                                                   122.88,0,95.37,0,61.44 C0,27.51,27.51,0,61.44,0L61.44,0z M54.22,37.65c0-9.43,14.37-9.44,14.37,
                                                   0.02v25.75l16.23,8.59c0.08,
                                                   0.04,0.16,0.09,0.23,0.15 l0.14,0.1c7.54,4.94,0.53,16.81-7.53,12.15l-0.03-0.02L57.99,
                                                   73.87c-2.3-1.23-3.79-3.67-3.79-6.29l0.01,
                                                   0L54.22,37.65L54.22,37.65z"/>
                                             </g>
                                           </svg></i>
                                            <h2 class="mt-3 f-w-300">{{request_unapproved}}</h2>
                                        </div>
                                    </div>
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">In-Stock Devices</h5>
                                                </div>
                                            </div>
                                            <i class=" -30 text-c-red">
                                                <svg class="svg-icon" style="width: 40px;height: 40px;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" 
                                                version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M800 736m-32 0a32 32 0 1 0 64 0 32 32 0 1 0-64 0Z" fill="#5465CF" />
                                                <path d="M672 736m-32 0a32 32 0 1 0 64 0 32 32 0 1 0-64 0Z" fill="#5465CF" />
                                                <path d="M544 736m-32 0a32 32 0 1 0 64 0 32 32 0 1 0-64 0Z" fill="#5465CF" />
                                                <path d="M840.224 544H183.776A184 184 0 0 0 0 727.776v16.448A184 184 0 0 0 183.776 928h656.448A184 184 0 
                                                0 0 1024 744.224v-16.448A184 184 0 0 0 840.224 544zM960 744.224A119.904 119.904 0 0 1 840.224 864H183.776A119.904 
                                                119.904 0 0 1 64 744.224v-16.448A119.904 119.904 0 0 1 183.776 608h656.448A119.904 119.904 0 0 1 960 727.776v16.448zM265.728 
                                                226.56a32 32 0 0 0 44.48 46.048C364 220.64 435.648 192 512 192s148 28.64 201.792 80.608a31.968 31.968 0 0 0 45.248-0.768 32 32
                                                0 0 0-0.768-45.248C692.48 163.008 604.992 128 512 128s-180.48 35.008-246.272 98.56z" fill="#5465CF" />
                                                <path d="M672 384a32 32 0 0 0 22.208-55.04C645.504 281.92 580.8 256 512 256s-133.504 25.92-182.208 72.96a32 32 0 
                                                0 0 44.416 46.08C410.976 339.52 459.872 320 512 320s101.024 19.52 137.792 55.04c6.176 5.984 14.208 8.96 22.208 8.96z" fill="#5465CF" />
                                                <path d="M409.76 424.96a32 32 0 0 0 44.48 46.08c30.72-29.728 84.8-29.728 115.52 0a31.968 31.968 0 0 0 45.248-0.8 32 32 0 0 0-0.768-45.248C586.88
                                                398.56 550.56 384 512 384s-74.88 14.56-102.24 40.96z" fill="#5465CF" /></svg></i>
                                            <h2 class="mt-3 f-w-300">{{device_stock}}</h2>
                                        </div>
                                    </div>
                                    <div class="card card-event">
                                        <div class="card-block">
                                            <div class="row align-items-center justify-content-center">
                                                <div class="col">
                                                    <h5 class="m-0">In-Stock Sim</h5>
                                                </div>
                                            </div>
                                            <i class="f-30"> <svg height="40px" width="40px" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                                viewBox="0 0 505 505" xml:space="preserve">
                                                <circle style="fill:#84DBFF;" cx="252.5" cy="252.5" r="252.5"/>
                                                <path style="fill:#FFFFFF;" d="M342.9,396.6H162.1c-9.5,0-17.2-7.7-17.2-17.2V125.6c0-9.5,7.7-17.2,17.2-17.2h116
                                                c4.6,0,8.9,1.8,12.2,5l64.8,64.8c3.2,3.2,5,7.6,5,12.2v189.1C360.1,388.9,352.4,396.6,342.9,396.6z"/>
                                                <path style="fill:#FFD05B;" d="M309.8,266.2H195.2c-2.5,0-4.6,2-4.6,4.6v83.6c0,2.5,2,4.6,4.6,4.6h114.7c2.5,0,4.6-2,4.6-4.6v-83.6
                                                C314.4,268.3,312.4,266.2,309.8,266.2z"/>
                                                <g>
                                                    <polygon style="fill:#F9B54C;" points="281.1,293.1 281.1,266.2 274.6,266.2 274.6,293.1 230.4,293.1 230.4,266.2 223.9,266.2 
                                                    223.9,293.1 190.6,293.1 190.6,299.7 314.4,299.7 314.4,293.1 	"/>
                                                    <polygon style="fill:#F9B54C;" points="190.6,332 223.9,332 223.9,358.9 230.4,358.9 230.4,332 274.6,332 274.6,358.9 281.1,358.9 
                                                    281.1,332 314.4,332 314.4,325.4 190.6,325.4 	"/>
                                                </g>
                                                </svg>
                                                </i>
                                            <h2 class="mt-3 f-w-300">{{sim_stock}}</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <script>
        $.ajax({
            url: '/bymonth',
            dataType: 'json',
            success: function(data) {
              Highcharts.chart('chart-container3', {
                title: {
                  text: 'Monthly Inventory Count',
                  align: 'left'
                },
                subtitle: {
                  text: 'Source: Database',
                  align: 'left'
                },
                yAxis: {
                  title: {
                    text: 'Inventory Count'
                  }
                },
                xAxis: {
                  type: 'datetime',
                  accessibility: {
                    rangeDescription: 'Range: 2010 to 2020'
                  }
                },
                legend: {
                  layout: 'vertical',
                  align: 'right',
                  verticalAlign: 'middle'
                },
                plotOptions: {
                  series: {
                    label: {
                      connectorAllowed: false
                    }
                  }
                },
                series: [{
                  name: 'Device Inventory Count',
                  data: data.device_data.map(function(item) {
                    return [Date.parse(item.x), item.y];
                  })
                }, {
                  name: 'SIM Inventory Count',
                  data: data.sim_data.map(function(item) {
                    return [Date.parse(item.x), item.y];
                  })
                }],
                responsive: {
                  rules: [{
                    condition: {
                      maxWidth: 500
                    },
                    chartOptions: {
                      legend: {
                        layout: 'horizontal',
                        align: 'center',
                        verticalAlign: 'bottom'
                      }
                    }
                  }]
                }
              });
            }
          });

        $.ajax({
            url: '/chartdata2',
            success: function (data) {
                Highcharts.chart('chart-container2', {
                    chart: {
                        type: 'pie',
                        backgroundColor: null,
                        plotBackgroundColor: null,
                        plotBorderWidth: 0,
                        plotShadow: false,
                        margin: [0, 0, 0, 0],
                        spacingTop: 0,
                        spacingBottom: 0,
                        spacingLeft: 0,
                        spacingRight: 0,
                        width: 500,
                        height: 250
                    },
                    title: {
                        text: 'Completed',
                        align: 'center',
                        verticalAlign: 'middle',
                        y: 50
                    },
                    plotOptions: {
                        pie: {
                            innerSize: '60%',
                            depth: 45,
                            dataLabels: {
                                enabled: true,
                                distance: 20,
                                format: '{point.percentage:.1f} %'
                            }
                        }
                    },
                    tooltip: {
                        pointFormat: '{series.name}: <b>{point.y:.1f}</b>'
                    },
                    series: [{
                        name: data.chartLabel,
                        colorByPoint: true,
                        data: [{
                            name: data.labels[0],
                            y: data.chartdata[0],
                        }, {
                            name: data.labels[1],
                            y: data.chartdata[1]
                        }, {
                            name: data.labels[2],
                            y: data.chartdata[2]
                        }]
                    }]
                });
                // Update the chart with new data every 1 minutes
                setInterval(function () {
                    $.ajax({
                        url: '/chartdata2',
                        success: function (data) {
                            var chart = $('#chart-container2').highcharts();
                            chart.series[0].setData([
                                { name: data.labels[0], y: data.chartdata[0] },
                                { name: data.labels[1], y: data.chartdata[1] },
                                { name: data.labels[2], y: data.chartdata[2] }
                            ]);
                        }
                    });
                }, 60000);
            }
        });
        // Define a function to fetch the data from the API and update the chart
        $.ajax({
            url: '/api',
            success: function(data) {
              Highcharts.chart('chart-container', {
                chart: {
                  plotBackgroundColor: null,
                  plotBorderWidth: 0,
                  plotShadow: false,
                  type: 'pie'
                },
                title: {
                  text: 'Pending',
                  align: 'center',
                  verticalAlign: 'middle',
                  y: 40
                },
                tooltip: {
                  pointFormat: '{series.name}: <b>{point.y}</b>'
                },
                plotOptions: {
                  pie: {
                    dataLabels: {
                      enabled: true,
                      distance: -50,
                      style: {
                        fontWeight: 'bold',
                        color: 'white'
                      }
                    },
                    startAngle: -90,
                    endAngle: 90,
                    center: ['50%', '75%'],
                    size: '110%'
                  }
                },
                series: [{
                  name: 'Pending',
                  innerSize: '50%',
                  data: data.chartdata.map((value, index) => ({
                    name: data.labels[index],
                    y: value
                  }))
                }]
              });
          
              // Update the chart with new data every 5 seconds
              setInterval(function () {
                $.ajax({
                  url: '/api',
                  success: function (data) {
                    var chart = $('#chart-container').highcharts();
                    chart.series[0].setData(data.chartdata.map((value, index) => ({
                      name: data.labels[index],
                      y: value
                    })));
                  }
                });
              }, 60000);
            }
          });
          
    </script>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
