{% extends "layouts/base-fullscreen.html" %}

{% block title %} Login {% endblock %}

{% block content %}   

    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            {% comment %} {% for u in data %} {% endcomment %}
            <div class="card">
                <div class=" text-center">
                    <div class="mt-4 mb-4">
                        <i class="feather icon-unlock auth-icon"></i>
                    </div>
                    <h3 class="mb-4">Login</h3>
                    <form action="" method="post" validate>
                        {% csrf_token %}
                        <div class="p-3">
                            {% for fm in form %}
                            <div class="form-group mb-3">
                                {{fm.label_tag}} {{fm}}<small class="text-danger">{{fm.errors|striptags}}</small>
                            </div>
                            {% endfor %}
                            <div class="row">
                                <div class="col-sm-12 text-center">
                                    <input type="submit" value="Login"  class="btn btn-primary btn-user btn-glow-danger">
                                    <br>
                                </div>
                                {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                  <p class="alert alert-danger my-3">{{error}}</p>
                                 {% endfor %}
                               {% endif %}
                            </div>
                            <p class="mt-2 mb-2 text-muted">Kindly use your credentials</p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
