{% extends "layouts/base.html" %}
{% load static %}

{% block title %}Records{% endblock %}

{% block stylesheets %}
    <!-- Add the DataTable CSS file -->
    
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <style>
        .card-header {
            background-color: #007bff;

            font-weight: bold;
        }
        .table {
            font-size: 14px;
        }
        th, td {
            text-align: center;
            vertical-align: middle !important;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                            <div class="row">
                                <div class="col-sm-auto col-sm-12">
                                    {% if messages %}
                                    <div class="alert alert-info alert-dismissible fade show" role="alert">
                                        {% for message in messages %}
                                            <strong> {{message}}</strong>
                                        {% endfor %}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endif %}
                                    <div class="card">
                                        <div class="card-header">
                                            <div class="row align-items-center">
                                                <div class="col">
                                                  <h5 class="mb-0">Sim Record</h5>
                                                </div>
                                                <div class="col-auto">
                                                   <button class="btn btn-outline-info btn-glow-success btn-block" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                    <i class="fa fa-filter"></i>Filter
                                                  </button>
                                                </div>
                                            </div>
                                            <div class="collapse" id="collapseExample" >
                                                <form action="{% url 'sim_record' %}" method="POST">
                                                    {% csrf_token %} 
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <label>Location</label>
                                                            <select class="form-control" name="location" >
                                                                <option value="No Info Available">No Info Available</option>
                                                                <option value="Lahore">LHR</option>
                                                                <option value="Islamabad">ISL</option>
                                                                <option value="Karachi">KHI</option>
                                                            </select>
                                                            <label >ISP</label>
                                                            <select class="form-control" name="isp" required>
                                                                <option value="No Info Available">No Info Available</option>
                                                                <option value="Telenor">Telenor</option>
                                                                <option value="Zong">Zong</option>
                                                                <option value="PTCL">PTCL</option>
                                                                <option value="Jazz">Jazz</option>
                                                            </select>
                                                            <label >Data limit</label>
                                                            <select class="form-control" name="data_limit" required>
                                                                <option value="No Info Available">No Info Available</option>
                                                                <option value="75GB">75GB</option>
                                                                <option value="85GB">85GB</option>
                                                                <option value="100GB">100GB</option>
                                                                <option value="150GB">150GB</option>
                                                                <option value="160GB">160GB</option>
                                                                <option value="275GB">275GB</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-6">
                                                            <label >MSISDN</label>
                                                            <input name="msisdn" type="Text" maxlength="25" class="form-control"  placeholder="MSISDN Number..." >
                                                            <label >SIM Card</label>
                                                            <input name="sim_card" type="Text" maxlength="30" class="form-control"  placeholder="SIM Card Number..." >
                                                            <label >Sim Status</label>
                                                            <select name="device_status" class="form-control" >
                                                                <option value="No Info Available">No Info Available</option>
                                                                <option value="New">New</option>
                                                                <option value="Used">Used</option>
                                                                <option value="Returned">Returned</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <input type="submit" class="btn btn-outline-success btn-glow-success mt-2" value="Search">
                                                </form>
                                            </div>
                                        </div>
                                      </div>
                                            <div class="card card-body">
                                              <div class="table-responsive">
                                                <table class="table table-bordered table-striped" id="deviceTable" width="100%">
                                                  <thead class="thead-dark">
                                                    <tr>
                                                      <th> Edit</th>
                                                      <th> Location</th>
                                                      <th> ISP</th>
                                                      <th> Data Limit</th>
                                                      <th> MSISDN</th>
                                                      <th> Sim Card</th>
                                                      <th> Status</th>
                                                    </tr>
                                                  </thead>
                                                  <tbody>
                                                    {% for f in s %}  
                                                    <tr>
                                                      <td><a href="#" class="active-blue" data-bs-toggle="modal" data-bs-target="#deviceModal" data-id="{{f.id}}">
                                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pen" viewBox="0 0 16 16">
                                                        <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                                      </svg>
                                                    </a>
                                                    </td>
                                                      <td >{{f.location}}</td>
                                                      <td >{{f.isp}}</td>
                                                      <td >{{f.data_limit}}</td>
                                                      <td >{{f.msisdn}}</td>
                                                      <td >{{f.sim_card}}</td>
                                                      <td >{{f.sim_status}}</td>
                                                    </tr>
                                                    {% endfor %} 
                                                  </tbody>
                                                </table>
                                              </div>
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% block javascripts %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.min.js"></script>
        <script>
          $(document).ready(function() {
            // $('#updateBtn').click(function() {
            //     var id = $('#idd').val(); // add this line
            //     $.ajax({
            //         url: '/update_sim_data/' + id,
            //         type: 'POST',
            //         data: {
            //             isp: $('#isp').val(),
            //             data_limit: $('#data_limit').val(),
            //             msisdn: $('#msisdn').val(),
            //             sim_card: $('#sim_card').val(),
            //             device_status: $('#device_status').val(),
            //             punched_by: $('#punched_by').val(),
            //         },
            //         success: function(response) {
            //             console.log('Device data updated successfully.');
            //             $('#deviceModal').modal('hide');
            //         },
            //         error: function() {
            //             console.log('Error: Failed to update device data.');
            //         }
            //     });
            // });
            $('#deviceTable').on('click', 'a', function() {
              var id = $(this).data('id');
              console.log(id);
              $.ajax({
                  url: '/get_sim_data/' + id,
                  type: 'GET',
                  dataType: 'json',
                  success: function(data) {
                  // defining for date formate
                  var datetime = new Date(data.instock_date);
                  var options = { 
                    month: 'long', 
                    day: 'numeric', 
                    year: 'numeric', 
                    hour: 'numeric', 
                    minute: 'numeric',
                    hour12: true
                  };
                  var formattedDatetime = datetime.toLocaleString('en-US', options);
                      // set the values of other input fields
                      $('#location').val(data.location);
                      $('#isp').val(data.isp);
                      $('#data_limit').val(data.data_limit);
                      $('#msisdn').val(data.msisdn);
                      $('#sim_card').val(data.sim_card);
                      $('#device_status').val(data.device_status);
                      $('#punched_by').val(data.punched_by);
                      $('#instock_date').val(formattedDatetime);
                      $('#id').val(id);
                      $('#deviceModal').modal('show');
                  },
                  error: function() {
                      alert('Error: Failed to fetch device data.');
                  }
              });
          });
          $('#deviceTable').DataTable().destroy();
               //Initialize DataTable plugin
              $('#deviceTable').DataTable({
                //  "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]]
             });

          });
      </script>
    {% endblock %}
    <div class="modal fade" id="deviceModal" tabindex="-1" aria-labelledby="deviceModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="deviceModalLabel"> Details</h5>
            </div>

           <form action="{% url 'update_sim_data' %}" method="POST" >
                   {% csrf_token %}
                   <input type="hidden" name="id" id="id" value="">
            <div class="modal-body">
              <div class="row">
              <div class="col-6">
              <div class="form-group">
                <label for="location">Location:</label>
                <select class="form-control" id="location" name="location" >
                  <option value="No Info Available">No Info Available</option>
                  <option value="Lahore">LHR</option>
                  <option value="Islamabad">ISL</option>
                  <option value="Karachi">KHI</option>
              </select>
              </div>
              <div class="form-group">
                <label for="isp">ISP:</label>
                <select class="form-control" id="isp" name="isp">
                  <option value="No Info Available">No Info Available</option>
                  <option value="Telenor">Telenor</option>
                  <option value="Zong">Zong</option>
                  <option value="PTCL">PTCL</option>
                  <option value="Jazz">Jazz</option>
              </select>
              </div>
              <div class="form-group">
                <label for="data_limit">Data Limit:</label>
                <select class="form-control" name="data_limit" id="data_limit">
                    <option value="No Info Available">No Info Available</option>
                    <option value="75GB">75GB</option>
                    <option value="85GB">85GB</option>
                    <option value="100GB">100GB</option>
                    <option value="150GB">150GB</option>
                    <option value="160GB">160GB</option>
                    <option value="275GB">275GB</option>
                </select>
              </div>
              <div class="form-group">
                <label for="instock_date">instock_date:</label>
                <input type="text" class="form-control" id="instock_date" name="instock_date" readonly>
              </div>
              </div>
              <div class="col-6">
              <div class="form-group">
                <label for="msisdn">MSISDN:</label>
                <input type="text" class="form-control" id="msisdn" name="msisdn">
              </div>
              <div class="form-group">
                <label for="sim_card">Sim Card:</label>
                <input type="text" class="form-control" id="sim_card" name="sim_card">
              </div>
              <div class="form-group">
                <label for="device_status">Sim Status:</label>
                <select id="device_status" name="device_status" class="form-control" >
                  <option value="No Info Available">No Info Available</option>
                  <option value="New">New</option>
                  <option value="Used">Used</option>
                  <option value="Returned">Returned</option>
              </select>
              </div>
              <div class="form-group">
                <label for="Added_by">Added_by:</label>
                <input type="text" class="form-control" id="punched_by" readonly>
              </div>
            </div>
            </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-outline-danger btn-glow-danger" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-outline-success btn-glow-success" id="updateBtn">Update</button>
            </form>
            </div>
          </div>
        </div>
      </div>
{% endblock %}
